<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>콜렉터 마크</h1>
        <nav>
            <a href="/">검색</a>
            <a href="/favorites">즐겨찾기</a>
        </nav>
    </header>
    <center>
        <form id="search_form" action="/search">
            <input type="text" placeholder="keyword" id="search_input" name="q">
            <button>검색</button>
        </form>
    </center>
    <main>
        {% if sites %}
        <center>
            <h3>{{sites|length}}개 데이터 수집...</h3>
        </center>

        <section>
            {% for site in sites %}
            <article class="site">
                <div class="site-row">
                    <div class="site-header">
                        <h3>
                            <a href="{{ site.link }}" target="_blank">
                                {{ site.title }}
                            </a>
                        </h3>
                        <form action="/favorites" method="post" class="isFav">
                            <input type="hidden" name="keyword" value="{{site.keyword}}">
                            <input type="hidden" name="title" value="{{site.title}}">
                            <input type="hidden" name="link" value="{{site.link}}">
                            <input type="hidden" name="description" value="{{site.description}}">
                            <input type="hidden" name="next_url" value="{{next_url}}">
                            <button
                                type="submit"
                                class="heart_button {% if site.is_favorite %}fav{% else %}not-fav{% endif %}"
                                title="즐겨찾기">
                                {% if site.is_favorite %}
                                    ♥
                                {% else %}
                                    ♡
                                {% endif %}
                            </button>
                        </form>
                    </div>
                    <p class="site-description">{{ site.description }}</p>
                    <p class="site-link">
                        <a href="{{ site.link }}" target="_blank">
                            {{ site.link }}
                        </a>
                    </p>
                </div>
            </article>
            {% endfor %}
        </section>

        {% else %}
        <center>
            <h3>데이터가 없습니다. 검색어를 입력해주세요.</h3>
        </center>
        {% endif %}
    </main>

</body>
</html>